wheel==0.45.1
setuptools==80.9.0
pip==25.3
einops==0.8.1
gast==0.7.0
groovy==0.1.2
filelock==3.20.0
packaging==25.0
colorama==0.4.6
certifi==2025.11.12
idna==3.11
charset-normalizer==3.4.4
multivolumefile==0.2.3
texttable==1.7.0
ipython_genutils==0.2.0
prometheus_client==0.23.1
traitlets==5.9.0
nest_asyncio==1.6.0
Send2Trash==1.8.3
fastjsonschema==2.21.2
defusedxml==0.7.1
pandocfilters==1.5.0
Pygments==2.19.2
typing_extensions==4.15.0
platformdirs==4.5.0
attrs==25.4.0
comm==0.2.3
jupyterlab_widgets==3.0.16
widgetsnbextension==4.0.15
decorator==5.2.1
pickleshare==0.7.5
zipp==3.23.0
fsspec==2025.10.0
six==1.17.0
webencodings==0.5.1
aiofiles==24.1.0
pydub==0.25.1
python-multipart==0.0.20
tomlkit==0.13.3
semantic-version==2.10.0
annotated-doc==0.0.4
sniffio==1.3.1
dill==0.4.0
soupsieve==2.8
joblib==1.5.2
threadpoolctl==3.6.0
py-cpuinfo==9.0.0
tzdata==2025.2
pytz==2025.2
et_xmlfile==2.0.0
cycler==0.12.1
pyparsing==3.2.5
munkres==1.1.4
aiohappyeyeballs==2.6.1
networkx==3.6
asttokens==3.0.1
python-dotenv==1.2.1
click==8.3.1
hpack==4.1.0
hyperframe==6.1.0
PySocks==1.7.1
shellingham==1.5.4
ptyprocess==0.7.0
mpmath==1.3.0
executing==2.2.1
pure_eval==0.2.3
wcwidth==0.2.14
mdurl==0.1.2
rfc3986-validator==0.1.1
websocket-client==1.9.0
python-json-logger==2.0.7
uri-template==1.3.0
webcolors==25.10.0
parso==0.8.5
tomli==2.3.0
wasabi==1.1.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
mypy_extensions==1.1.0
pathspec==0.12.1
pycparser==2.22
cached-property==1.5.2
lark==1.3.1
text-unidecode==1.3
typing_utils==0.1.0
cloudpickle==3.1.2
tqdm==4.67.1
matplotlib-inline==0.2.1
jupyterlab_pygments==0.3.0
cloudpathlib==0.23.0
typing-inspection==0.4.2
h11==0.16.0
exceptiongroup==1.3.1
mistune==3.1.4
jupyter_core==5.9.1
importlib_metadata==8.7.0
rfc3339_validator==0.1.4
astunparse==1.6.3
python-dateutil==2.9.0.post0
tinycss2==1.5.1
bleach==6.3.0
html5lib==1.1
dnspython==2.8.0
typer-slim==0.20.0
h2==4.3.0
pexpect==4.9.0
stack_data==0.6.3
prompt_toolkit==3.0.52
markdown-it-py==4.0.0
jedi==0.19.2
black==25.1.0
rfc3987-syntax==1.1.0
python-slugify==8.0.4
overrides==7.7.0
uvicorn==0.38.0
anyio==4.12.0
annotated-types==0.7.0
beautifulsoup4==4.14.3
arrow==1.4.0
email-validator==2.3.0
rich==14.2.0
ipython==8.21.0
fqdn==1.5.1
httpcore==1.0.9
starlette==0.50.0
isoduration==20.11.0
rich-toolkit==0.17.0
ipywidgets==8.1.8
httpx==0.28.1
typer==0.20.0
safehttpx==0.1.7
ruff==0.14.8
wrapt==2.0.1
librt==0.6.3
catalogue==2.0.10
jsonpointer==3.0.0
httptools==0.7.1
propcache==0.3.1
multidict==6.6.3
unicodedata2==17.0.0
multiprocess==0.70.18
orjson==3.11.4
websockets==15.0.1
rpds-py==0.30.0
MarkupSafe==3.0.3
tornado==6.5.2
pybcj==1.0.7
psutil==7.1.3
inflate64==1.0.4
safetensors==0.7.0
regex==2025.11.3
zipfile-deflate64==0.0.0
openpyxl==3.1.5
cffi==2.0.0
pydantic_core==2.33.2
pyzstd==0.18.0
watchfiles==1.1.1
hf-xet==1.2.1
ujson==5.11.0
murmurhash==1.0.15
cymem==2.0.13
kiwisolver==1.4.9
greenlet==3.3.0
frozenlist==1.7.0
debugpy==1.8.17
pyppmd==1.1.0
Brotli==1.2.0
llvmlite==0.45.1
PyYAML==6.0.3
uvloop==0.22.1
xxhash==3.6.0
yarl==1.22.0
mypy==1.19.0
zstandard==0.25.0
argon2-cffi-bindings==25.1.0
brotlicffi==1.2.0.0
srsly==2.5.2
preshed==3.0.12
protobuf==6.31.1
SQLAlchemy==2.0.44
watchdog==6.0.0
pycryptodomex==3.23.0
pillow==11.3.0
pyzmq==27.1.0
fonttools==4.61.0
gmpy2==2.2.1
lxml==6.0.2
PySide6==6.9.3
shiboken6==6.9.3
numpy==2.3.5
pyarrow==22.0.0
blis==1.3.3
contourpy==1.3.3
numexpr==2.10.1
scipy==1.16.3
pandas==2.3.3
opencv-python==4.12.0
opencv-python-headless==4.12.0
numba==0.62.1
matplotlib==3.10.8
tables==3.10.2
scikit-learn==1.7.2
fastprogress==1.0.3
fastcore==1.7.27
fastdownload==0.0.7
execnb==0.1.11
ghapi==1.0.6
nbdev==2.3.34
smart_open==7.5.0
referencing==0.37.0
Jinja2==3.1.6
terminado==0.18.1
pydantic==2.11.10
aiosignal==1.4.0
urllib3==2.5.0
argon2-cffi==25.1.0
py7zr==1.0.0
jupyter_client==8.6.3
sympy==1.14.0
ffmpy==0.3.0
patsy==1.0.2
seaborn==0.13.2
jsonschema-specifications==2025.9.1
jupyter_server_terminals==0.5.3
confection==0.1.5
fastapi==0.123.9
fastapi-cli==0.0.16
types-requests==2.32.4.20250913
requests==2.32.5
ipykernel==7.1.0
jsonschema==4.25.1
types-tqdm==4.67.0.20250809
weasel==0.4.3
kagglesdk==0.1.13
huggingface_hub==0.36.0
nbformat==5.10.4
kaggle==1.8.2
gradio_client==1.13.3
jupyter-events==0.12.0
nbclient==0.10.2
gradio==5.49.1
nbconvert==7.16.6
jupyter_server==2.17.0
notebook_shim==0.2.4
nbclassic==1.3.3
notebook==6.5.4
rise==5.7.1
aiohttp==3.13.2
statsmodels==0.14.5
thinc==8.3.10
tokenizers==0.22.2
spacy==3.8.11
fastkaggle==0.0.8
torch==2.4.0
triton==3.0.0
torchvision==0.19.0
datasets==4.4.1
diffusers==0.35.2
accelerate==1.12.0
timm==1.0.22
transformers==4.57.3
fastai==2.7.17
torcheval==0.0.7
ml_env==0.0.1
docker-pycreds==0.4.0
appdirs==1.4.4
eval_type_backport==0.3.1
sentry-sdk==2.47.0
smmap==5.0.2
gitdb==4.0.12
GitPython==3.1.45
setproctitle==1.3.6
wandb==0.23.0
autocommand==2.2.2
backports.tarfile==1.2.0
importlib_metadata==8.0.0
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
more-itertools==10.3.0
packaging==24.2
platformdirs==4.2.2
tomli==2.0.1
typeguard==4.3.0
typing_extensions==4.12.2
wheel==0.45.1
zipp==3.19.2
